/* blah blah blah */
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body{
    height: 100%;
    width: 100%;
}

.content{
    width: 100%;
    height: 100%;
}

.introPage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:goldenrod;
}

button{
    margin: 0;
    padding: 0;
}

.container {
    resize: both;
    overflow: auto;
    display: grid;
    gap: 1px;
    padding: 2px;
    border: 20px solid black;
    background-color: skyblue;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    height: 50%;
    width: 30%;
}

.plot {
    background-color: #444;
    text-align: center;
    color: #ddd;
    font-family: sans-serif;
    font-size: 1.5rem;
    padding: 12px;
}

.colorIntroShips{
    background-color: yellow;
}

.welcome,
.welcome2{
    font-size: xx-large;
    font-weight: bolder;
}

.rotate,
.playButton{
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-size: larger;
}